$enable-gradients: true;
@import "./vars";
@import "./animation.scss";
@import "./bootstrap.scss";
@import "./font.scss";
.hidden {
  display: none;
}
body {
  background-color: #f5f5f5;
}
* {
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}
// Hide ScrollBar in Mobile Size
@media only screen and (max-width: 800px) {
  *::-webkit-scrollbar {
    height: 1px;
  }
}
@media only screen and (orientation: landscape) {
  // html {
  //   height: 100vw;
  //   transform: rotate(90deg);
  // }
  // html {
  //   transform: rotate(90deg);
  //   transform-origin: right top;
  //   width: 100vh;
  //   height: 100vw;
  //   overflow-x: hidden;
  //   position: absolute;
  //   top: 100%;
  //   bottom: 0;
  //   right: 0;
  //   bottom: 0;
  // }
}
// .over_flow::-webkit-scrollbar {
//   -webkit-border-radius: 10px;
//   border-radius: 10px;
//   position: relative;
//   -ms-touch-action: none;
//   background: rgba(0, 0, 0, .1)
// }
// .over_flow::-webkit-scrollbar-track {
//   -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
// }
// .over_flow::-webkit-scrollbar-thumb {
//   background-color: #F57C00;
//   outline: 1px solid slategrey;
// }
//
// digikala scrollbar style
// .swiper-pagination-lock {
//   display: none
// }
// .swiper-scrollbar {
//   -webkit-border-radius: 10px;
//   border-radius: 10px;
//   position: relative;
//   -ms-touch-action: none;
//   background: rgba(0, 0, 0, .1)
// }
// .swiper-container-horizontal>.swiper-scrollbar {
//   position: absolute;
//   left: 1%;
//   bottom: 3px;
//   z-index: 50;
//   height: 5px;
//   width: 98%
// }
// .swiper-container-vertical>.swiper-scrollbar {
//   position: absolute;
//   right: 3px;
//   top: 1%;
//   z-index: 50;
//   width: 5px;
//   height: 98%
// }
// .swiper-scrollbar-drag {
//   height: 100%;
//   width: 100%;
//   position: relative;
//   background: rgba(0, 0, 0, .5);
//   -webkit-border-radius: 10px;
//   border-radius: 10px;
//   left: 0;
//   top: 0
// }
// .swiper-scrollbar-cursor-drag {
//   cursor: move
// }
// .swiper-scrollbar-lock {
//   display: none
// }
// .over_flow::-webkit-scrollbar,
// .cat_product_row .cat_sort ul.nav::-webkit-scrollbar {
//   height: 2px;
//   -webkit-border-radius: 10px;
//   border-radius: 10px;
//   position: relative;
//   -ms-touch-action: none;
//   background: rgba(0, 0, 0, 0.1);
// }
.over_flow,
.cat_product_row .cat_sort ul.nav {
  scrollbar-width: thin;
}
.container {
  background-color: #ffffff;
}
.spinner-border,
.loading_component,
.preloader-icon__inner {
  margin: auto;
  position: relative;
  display: block;
  z-index: 99990;
}
.btn.btn-main,
.btn-main {
  cursor: pointer;
  color: #ffffff;
  border-radius: 15px;
  width: -moz-max-content;
  width: -o-max-content;
  width: -ms-max-content;
  width: -webkit-max-content;
  width: max-content;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 20px;
  padding-left: 20px;
  background: no-repeat;
  background-image: $main_gradient;
  border: none;
  &:hover {
    background-image: none;
    background: #feaa2d;
    animation: shadow_drop 0.8s both;
    animation-iteration-count: infinite;
  }
}
.modal-open .modal {
  z-index: 9999;
}
// .modal-body{
//   minheight: 1000px;
// }
// .ReactCrop__crop-selection {
//   margin: auto;
//   right: 20%;
// }
// ******* Toastify ********
.Toastify {
  .Toastify__toast-body,
  .Toastify__toast {
    direction: rtl !important;
    font-family: "IranSans", sans-serif !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: right;
  }
  .Toastify__toast-container {
    direction: rtl !important;
    right: 0 !important;
    left: initial !important;
  }
  .Toastify__progress-bar {
    right: 0 !important;
    left: initial !important;
    transform-origin: right !important;
  }
  .Toastify__toast--warning {
    background: #fea92e;
  }
  .Toastify__toast--success {
    background: #019e06;
  }
}
// ******* Drop Down Menu ********
.dropDownMenu {
  .dropdown-toggle,
  .dropdown-toggle:focus {
    background: none !important;
    border: none !important;
    box-shadow: none !important;
    padding: 0 !important;
    &::before {
      display: none !important;
    }
  }
  .dropdown-item:not(.active):focus,
  .dropdown-item:not(.active):hover {
    color: none !important;
    background: none !important;
  }
}
@media (min-width: 1300px) {
  .container {
    max-width: 90%;
  }
}