@import "../vars";
.cart_page {
  padding-bottom: 4rem;
  min-height: 90vh;
  .header_link {
    background: #ffffff;
    box-shadow: 0 -5px 5px 1px #d2d2d2;
    position: fixed;
    width: 100%;
    bottom: 40px;
    z-index: 1000;
    a {
      cursor: pointer;
    }
    @media screen and (min-width: 992px) {
      width: 90% !important;
      max-width: 90%;
      margin: auto;
    }
  }
  .btn-main {
    color: #fff !important;
    font-size: 1rem;
    min-width: 150px;
    direction: rtl;
    .font_icon {
      margin-right: 0.5rem;
      //margin-left: 6px;
    }
    .spinner-border {
      display: inline-block;
      color: #fff !important;
      margin-right: 6px;
      margin-left: 6px;
      height: 25px;
      width: 25px;
    }
  }
  .cart_amount_detail {
    width: 96%;
    margin: auto;
    .total,
    .discount,
    .final {
      float: right;
    }
    .total_price,
    .total_discount,
    .final_price {
      float: left;
    }
  }
  .empty_cart {
    .font_icon {
      font-size: 7rem;
      color: #d2d2d2;
    }
    p {
      color: #9e9e9e;
    }
  }
  @media (min-width: 576px) {
    .header_link {
      max-width: 540px;
    }
  }
  @media (min-width: 768px) {
    .header_link {
      max-width: 720px;
    }
  }
  @media screen and (min-width: 992px) {
    padding-top: 25px !important;
    padding-bottom: 0rem;
    .header_link {
      width: 90% !important;
      max-width: 90%;
      top: auto !important;
      bottom: -15px !important;
      margin: auto;
      left: 5%;
      right: 5%;
    }
  }
}
.cart_title {
  .page_title {
    display: inline-block;
    color: #212121;
  }
  .font_icon {
    display: inline-block;
    color: #dedede;
  }
  hr {
    margin: 0.2rem;
    //border-top: 1px solid #fc90432d;
  }
}
.cart_filter {
  position: sticky;
  top: 0;
  z-index: 1000;
  margin-bottom: 2px;
  box-shadow: 0 0 1px 0 #c1c1c1;
  ul.filters {
    flex-wrap: nowrap;
    overflow-x: auto;
    li {
      cursor: pointer;
      font-size: 1.1rem;
      color: #9E9E9E;
      transition: all ease-in-out 0.2s;
      width: 50%;
      text-align: center;
    }
    li.active {
      font-size: 1.15rem;
      font-weight: bold;
      color: #212121;
      border-bottom: 1px solid #616161;
    }
  }
}
.cart_head_continue {
  .header_link {
    // background: #ffffff;
    // box-shadow: 0 -5px 5px 1px #d2d2d2;
    background: none;
    box-shadow: none;
    position: fixed;
    width: 100%;
    bottom: 40px;
    z-index: 1000;
    a {
      cursor: pointer;
    }
  }
  .btn-main {
    color: #fff !important;
    font-size: 1rem;
    min-width: 150px;
    direction: rtl;
    .font_icon {
      margin-right: 0.5rem;
      //margin-left: 6px;
    }
    .spinner-border {
      display: inline-block;
      color: #fff !important;
      margin-right: 6px;
      margin-left: 6px;
      height: 25px;
      width: 25px;
    }
  }
}