@import '../vars';
.cart {
  .cart_seller {
    .nav_Icons {
      cursor: pointer;
    }
    .font_icon {
      font-size: 1rem;
    }
    .user_name {
      font-size: 1rem;
    }
    .font_icon {
    }
    .userImage {
      width: auto;
      height: auto;
      max-width: 12vw;
    }
  }
  @media screen and (min-width: 992px) {
    .cart_seller {
      .userImage {
        width: 5rem;
      }
    }
  }
}