@import "../vars";
.cat_product_row {
  .cat_title {
    margin-bottom: -0.5rem;
    padding-right: 0.5rem;
    h3 {
      color: #424242;
      font-size: 1.1rem;
      margin: 0;
      padding-top: 0.3rem;
      float: right;
      //font-family: morvarid;
    }
    .more {
      cursor: pointer;
      margin: 0;
      padding: 0;
      width: auto;
      height: auto;
      min-width: 0;
      border: none;
      line-height: initial;
      float: left;
      display: block;
      color: #757575;
      font-size: 1rem;
      text-decoration: none;
      transition: all 0.1s ease-in-out;
      &:hover,
      &:active {
        color: #000;
        font-weight: 600;
      }
    }
  }
  .cat_sort {
    ul.nav {
      flex-flow: row;
      overflow: auto;
    }
    a {
      cursor: pointer;
      color: $muted_color;
      margin-top: 1rem;
      width: auto;
      min-width: 16vw;
      height: auto;
      font-size: 0.92rem;
      text-align: center;
      vertical-align: middle;
      line-height: 1;
      border: 1px solid #e6e6e6;
      border-radius: 15px;
      margin-left: 10px;
      &:hover {
        color: #484848;
      }
      &.active {
        color: #484848;
        background-color: #f9d49e;
        border-radius: 15px;
      }
      @media screen and (max-width: 320px) {
        font-size: 2.8vw;
      }
      @media screen and (min-width: 704px) {
        height: auto;
        line-height: 1.3em;
      }
      @media screen and (min-width: 1024px) {
        height: auto;
        line-height: unset;
      }
    }
  }
  .products {
    overflow: auto;
    flex-flow: row;
    .product {
      margin: 0;
      padding: 0;
      .product_frame {
        text-align: center;
        width: 31.6vw;
        max-width: 12rem;
        max-height: 52vw;
        height: auto;
        padding: 0;
        box-shadow: 0 0px 4px 0 #b1b1b1;
        border-radius: 8px;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
        transition: all ease-in-out 0.2s;
        position: relative;
        margin: auto;
        margin-top: 4%;
        margin-bottom: 4%;
        overflow: hidden;
        &:hover {
          background: #e8e8e8;
        }
        .product_link {
          width: 100%;
          height: auto;
          display: block;
          margin: auto;
          max-height: 30vh;
          overflow: hidden;
          img {
            width: 100%;
            height: auto;
            display: block;
            margin: auto;
            border-radius: 8px;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            margin-top: -20px;
            margin-bottom: -20px;
          }
        }
        .product_basket {
          cursor: pointer;
          z-index: 9;
          background-color: #2fa841;
          max-width: 3rem;
          max-height: 3rem;
          transition: all ease-in-out 0.2s;
          position: relative;
          top: 2px;
          border-radius: 50px;
          text-align: center;
          width: 9vw;
          height: 9vw;
          display: flex;
          justify-content: center;
          align-self: center;
          display: none;
          &:hover {
            border-radius: 150px;
            animation: shadow_drop 0.8s both;
            animation-iteration-count: infinite;
            .svg_Icons {
              fill: #ffe500;
            }
            p {
              color: #ffe500;
            }
          }
          p {
            font-size: 0.7rem;
            color: #fff;
            text-align: center;
            line-height: 2.2;
            padding-right: 1.9vw;
            display: none;
          }
          .svg_Icons {
            position: absolute;
            position: relative;
            font-size: 6vw;
            fill: #fff;
            display: flex;
            justify-content: center;
            align-self: center;
          }
        }
        .product_basket.open {
          width: auto !important;
          .svg_Icons {
            display: none !important;
          }
        }
        .product_user {
          position: relative;
          text-align: right;
          width: 100%;
          background: #fff;
          display: block;
          padding: 1px;
          direction: ltr;
          font-size: 0.75rem;
          color: #424242;
          transition: all ease-in-out 0.2s;
          img {
            border-radius: 8rem;
            width: 6vw;
            max-width: 2.5rem;
          }
          &:hover {
            animation: shadow_drop 0.8s both;
            animation-iteration-count: infinite;
          }
        }
      }
      .product_text {
        direction: rtl;
        background: #fff;
        position: relative;
        padding-left: 4%;
        text-align: left;
        font-size: 0.75rem;
        margin-top: -1.6vw;
        p {
          padding: 0;
          margin: 0;
          text-align: center;
        }
        .price_old {
          font-size: 0.85em;
          color: $mainDark_color;
          min-height: 14px;
          text-decoration: line-through;
        }
      }
    }
  }
  @media screen and (min-width: 992px) {
    .cat_sort {
      a {
        font-size: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
      }
    }
    .product_frame {
      width: 14vw !important;
      height: 285px !important;
      margin-bottom: 16px !important;
      .product_basket {
        position: absolute !important;
        top: 242px !important;
        left: auto !important;
        right: 2px;
        border-radius: 50px !important;
        text-align: center !important;
        width: 38px !important;
        height: 38px !important;
        margin: auto !important;
        p {
          display: none !important;
        }
        .svg_Icons {
          font-size: 1.5rem !important;
        }
      }
      .product_user {
        img {
          width: 3rem !important;
        }
      }
    }
    .product_text {
      font-size: 1em !important;
    }
  }
  @media screen and (min-width: 992px) and (max-width: 1190px) {
    .product_frame {
      width: 13vw !important;
      height: 245px !important;
      margin-bottom: 10px !important;
      .product_basket {
        top: 200px !important;
      }
    }
  }
  @media screen and (max-width: 362px) {
    .products .product .product_frame .product_basket p {
      font-size: 3vw;
      line-height: 2;
    }
  }
}
@media screen and (min-width: 1000px) {
  #__next {
    margin-bottom: 4% !important;
  }
}
@media screen and (max-width: 1000px) {
  #__next {
    margin-bottom: 18% !important;
  }
}