@import '../vars';
.cat_product_row {
  .categories {
    // overflow: auto;
    border-bottom: 2.5px inset $border_color;
    padding-bottom: 5px;
    padding-right: 0;
    padding-left: 0;
    ul {
      // height: 45px;
    }
    a {
      font-size: 1rem;
      //@include fluid-type($min_width, $max_width, $min_font, $max_font);
      padding-left: 0.3rem;
      padding-right: 0.3rem;
      color: #000;
      margin-top: 8px;
      &:hover {
        color: $main_color;
      }
      &.active {
        color: $main_color;
      }
      &.active:after {
        content: '';
        display: block;
        width: 100%;
        margin: auto;
        margin-top: 12.3px;
        margin-bottom: -17px;
        padding-top: 3px;
        border-bottom: 2px inset;
        border-radius: 5px;
        background: $main_gradient;
      }
    }
    .more {
    }
  }
  .cat_sort {
    a {
      cursor: pointer;
      font-size: 0.92rem;
      padding-left: 0.7rem;
      padding-right: 0.7rem;
      padding-bottom: 0.12em;
      padding-top: 0.2rem;
      color: $muted_color;
      margin-top: 1rem;
      &.active {
        color: #484848;
        background-color: #f9d49e;
        border-radius: 15px;
      }
    }
  }
  .products {
    .product {
      margin: 0;
      padding: 0;
      .product_frame {
        text-align: center;
        width: 120px;
        height: 145px;
        padding: 10px;
        background: #f3f3f3;
        border-radius: 10px;
        .product_link {
          img {
            width: 80px;
            height: 120px;
          }
        }
        .product_basket {
          cursor: pointer;
          position: relative;
          background-color: #2fa841;
          border-radius: 20px;
          text-align: left;
          width: 95%;
          height: 32px;
          display: block;
          margin: auto;
          margin-top: -25px;
          p {
            font-size: 14px;
            color: #fff;
            text-align: left;
            padding-left: 10px;
            padding-top: 5px;
          }
          .svg_Icons {
            position: absolute;
            top: 0px;
            right: 4px;
            font-size: 1.4rem;
            fill: #fff;
            display: block;
            margin: auto;
            padding-top: 7px;
          }
        }
        .product_user {
          position: absolute;
          right: 5px;
          top: 2px;
          img {
            width: 2.7rem;
          }
        }
      }
      .product_text {
        direction: rtl;
        text-align: right;
        background: #fff;
        padding-right: 10px;
        padding-top: 5px;
        font-size: 1em;
        p {
          padding: 0;
          margin: 0;
        }
        .price_old {
          font-size: 0.8em;
          color: $mainDark_color;
          padding-right: 5px;
          text-decoration: line-through;
        }
        span {
        }
      }
    }
  }
  @media screen and (min-width: 992px) {
    .categories {
      padding-right: 0.8rem;
      padding-left: 0.8rem;
    }
    .categories a {
      font-size: 1.24rem;
      &.active:after {
        margin-top: 12.3px;
        margin-bottom: -17px;
      }
    }
    .cat_sort {
      a {
        font-size: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
      }
    }
    .product_frame {
      width: 160px;
      height: 185px;
      padding: 15px;
      .product_link {
        img {
          width: 100px;
          height: 140px;
        }
      }
      .product_basket {
        position: absolute !important;
        right: 9px;
        top: 51px;
        border-radius: 50px;
        text-align: center;
        width: 32px !important;
        height: 32px !important;
        margin: auto !important;
        p {
          display: none;
        }
        .svg_Icons {
          top: 2px !important;
          right: 5px !important;
          fill: #fff;
          padding-top: 5px !important;
        }
      }
      .product_user {
        right: 10px;
        top: 0px;
        img {
          width: 3rem;
        }
      }
    }
  }
  @media screen and (min-width: 400px) {
    .categories a {
      padding-left: 0.7rem;
      padding-right: 0.7rem;
    }
  }
}