@import '../vars';
.comment_head {
  top: 0;
  border-bottom: 1px solid #E0E0E0;
  overflow: hidden;
  .page_title {
    text-align: center;
    font-size: 1rem;
  }
  .back_icon {
    font-size: 1.7rem;
    cursor: pointer;
    transition: all 0.2s ease-in;
    &:hover {
      color: #9E9E9E;
    }
  }
  .trash_icon{
    font-size: 1.5rem;
    cursor: pointer;
    color: #000;
    transition: all 0.1s ease;
    animation: shake_bottom 0.7s both;
    // animation-iteration-count: infinite;
    &:hover,&:active{
      color: #e70c45;
    }
  }
}
.comment_page {
  overflow: hidden;
  ._txt {
    font-size: 0.85rem;
    padding-top: 8px;
    .close {
      cursor: pointer;
      font-size: 1rem;
      float: left;
      margin-top: 4px;
      color: #757575;
      margin-left: 10px;
    }
  }
  .user {
    .link {
      float: right;
      cursor: pointer;
      img {
        width: auto;
        height: auto;
        max-width: 3rem;
        border-radius: 10rem;
        transition: all 0.2s ease-in;
        &:hover {
          border: 1px solid #EF6C00;
        }
      }
    }
    .name {
      display: inline-block;
      margin-right: 1rem;
      color: #212121;
      cursor: pointer;
    }
    .user_name {
      display: inline-block;
      margin-right: 1rem;
      color: #212121;
      cursor: pointer;
    }
    .displayName {
      display: block;
      padding-right: 4rem;
      font-size: 0.8rem;
      color: #757575;
    }
  }
  .user._selected {
    background: #E0E0E0;
    border-radius: 12px;
    padding: 2px !important;
  }
  .no_result_div {
    display: block;
    width: 100%;
    background: #f5f5f5;
    padding: 4rem;
    padding-top: 24vh;
    padding-right: 3.5rem;
    margin: auto;
    text-align: center;
    .no_result {
      font-size: 1rem;
      display: block;
      margin: auto;
      margin-top: 1rem;
      color: #9E9E9E;
    }
    .font_icon {
      display: block;
      margin: auto;
      font-size: 3rem;
      color: #d2d2d2;
    }
  }
  .user {
    .product_image {
      cursor: pointer;
      float: right;
      min-width: 80px;
      text-align: center;
      img {
        width: auto;
        height: auto;
        max-width: 2.8rem;
        border-radius: 0.1rem;
        margin: auto;
        display: block;
      }
    }
    ._txt {
      padding: 2px;
      padding-right: 0.35rem;
      padding-left: 0.35rem;
      direction: ltr;
    }
    .heart {
      .font_icon {
        color: #757575;
        font-size: 1.2rem;
        cursor: pointer;
        &:hover,
        &:active {
          color: #333;
        }
      }
      .red {
        color: #E57373;
        fill: #f44336;
      }
      .spinner-border {
        max-width: 1.6rem;
        max-height: 1.6rem;
      }
    }
    .content {
      .user_name {
        display: inline-block;
        margin-right: 0;
        color: #212121;
        cursor: pointer;
        font-weight: 600;
      }
      .message,
      .time {
        display: inline;
        padding-right: 4px;
      }
      .time {
        color: #757575;
        font-size: 0.8rem;
        clear: left;
        display: inline-block;
      }
      .reply_btn {
        font-size: 0.9rem;
        color: #757575;
        font-weight: bold;
        cursor: pointer;
        display: inline-block;
        transition: all 0.2s ease-in;
        &:hover,
        &:active {
          color: #000;
          transition: all 0.1s ease-in;
        }
      }
      .show_replies {
        color: #5fad62;
        font-size: 0.8rem;
        cursor: pointer;
        font-weight: normal;
        transition: all 0.1s ease-in;
        &:hover,
        &:active {
          color: #333;
          font-weight: bold;
        }
      }
      .show_replies._hide {
        color: #ef9a9a;
      }
    }
    .btn-main {
      cursor: pointer;
      width: 76px;
      font-size: 0.77rem;
      padding-left: 10px;
      padding-right: 10px;
      border-radius: 4px;
    }
    .unfollow {
      color: #333;
      background: #ffffff;
      border: 1px solid #b4b4b4;
      &:hover,
      &:active {
        background: #feaa2d;
      }
    }
  }
  .comment_child {
    ._txt {
      font-size: .8rem;
    }
    .link {
      img {
        max-width: 2.2rem;
      }
    }
    .heart .font_icon {
      font-size: 1rem;
    }
    .content .reply_btn {
      font-size: 0.78rem;
    }
    .content .time {
      font-size: .7rem;
    }
    .content {
      font-size: 0.72rem;
    }
  }
  .input_text {
    z-index: 1099;
    background: #fff;
    box-shadow: 0px 1px 2px 0px #7b7b7b;
    input,
    textarea {
      border: none;
      font-size: .72rem;
      height: 32px;
      resize: none;
      margin-right: 1.3%;
      color: #000;
    }
  }
  .send_comment {
    padding: 3px 12px;
    font-size: .8rem;
  }
  .reply_to_notify {
    position: fixed;
    bottom: 64px;
    z-index: 1099;
    font-size: 0.8rem;
    background: #ffffff;
    box-shadow: inset 0px 0px 2px 0px #d0d0d0;
    text-align: center;
    width: 100%;
    justify-content: space-between;
    padding: 2%;
    transition: all 0.2s ease-in-out;
    p {
      align-self: center;
      margin: auto;
      color: #808080;
    }
    .font_icon {
      align-self: center;
      margin: initial;
      color: #808080;
      cursor: pointer;
      font-size: 1.08rem;
      transition: all 0.2s ease-in-out;
      &:hover,
      &:active {
        transition: all 0.2s ease-in-out;
        color: #000;
        font-size: 1.12rem;
      }
    }
  }
}