@import '../vars';
.favorite_title {
  top: 0;
  border-bottom: 1px solid #E0E0E0;
  .cart_title .page_title {
    display: inline-block;
    color: #212121;
    text-align:center;
  }
  .font_icon {
    cursor: pointer;
    font-size: 1.7rem;
    color: #9E9E9E;
    &:hover,
    &:active {
      color: #000;
    }
  }
}
.favorite_page {
  .profile_products {
    flex-flow: wrap;
    overflow: auto;
  }
}