@import "../vars";
.inventory_head {
  top: 0;
  border-bottom: 1px solid #e0e0e0;
  overflow: hidden;
  .page_title {
    text-align: center;
    // font-weight: 600;
    font-size: 1rem;
  }
  .back_icon {
    font-size: 1.7rem;
    cursor: pointer;
    transition: all 0.2s ease-in;
    color: #9E9E9E;
    &:hover {
      color: #000;
    }
  }
  ._add {
    font-size: 1.8rem;
    color: #388e3c !important;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    &:hover,
    &:active {
      font-size: 1.85rem;
      color: #1b5e20 !important;
    }
  }
}
.inventory_page {
  top: 0;
  border-bottom: 1px solid #e0e0e0;
  .page_title {
    color: #212121;
    .back_icon {
      cursor: pointer;
      font-size: 1.7rem;
      color: #9e9e9e;
      &:hover,
      &:active {
        color: #000;
      }
    }
  }
  .inventory_price {
    font-size: 2rem;
    font-weight: 600;
    color: #424242;
    text-align: center;
  }
  .inventory_price_toman {
    font-size: 1.5rem;
    color: #bdbdbd;
  }
  .btn-main {
    border-radius: 4px;
    min-width: 110px;
    .font_icon {
      margin-left: 6px;
    }
  }
  .charge {
    background-image: linear-gradient(90deg, #4caf50, #2e7d32 51%, #4caf50);
    padding-right: 6px;
    padding-left: inherit;
    &:hover {
      background-image: linear-gradient(90deg, #8bc34a, #689f38 51%, #4caf50);
    }
  }
  .removal {
    // background-image: linear-gradient(90deg, #ef5350, #b31e1e 51%, #c7441b);
    background-image: none;
    background: #fff;
    color: #000;
    border: 1px solid #BDBDBD;
    padding-right: 20px;
    padding-left: 25px;
    &:hover,
    &:active {
      background-image: linear-gradient(90deg, #828282, #757575 51%, #757575);
      color: #fff;
      outline-color: #828282;
    }
  }
  .sell {
    background-image: linear-gradient(90deg, #4caf50, #2e7d32 51%, #4caf50);
    &:hover {
      background-image: linear-gradient(90deg, #8bc34a, #689f38 51%, #4caf50);
    }
  }
  .transfer {
    background: #fff;
    color: #000;
    border: 1px solid #a7a7a7;
  }
  .spinner-border {
    width: 30px;
    height: 30px;
  }
  .info_rows {
    .amount {
      flex: 3;
      font-size: 0.9rem;
    }
    .type{
      flex: 2;
      color: #424242;
      font-size: 0.8rem;
    }
    .date {
      flex: 2;
      font-size: 0.75rem;
      color: #757575;
      text-align: center;
    }
    .font_icon {
      flex: 1;
    }
    ._sell {
      color: #f44336;
    }
    ._buy {
      color: #4caf50;
    }
  }
  ._title {
    font-size: 1.8rem;
  }
  .modal {
    z-index: 99999;
  }
  .modal-title {
    width: 100%;
    text-align: center;
    margin-right: -2%;
  }
  // not import
  ul.filters {
    flex-wrap: nowrap;
    overflow-x: auto;
    li {
      cursor: pointer;
      font-size: 1.03rem;
      color: #9e9e9e;
      transition: all ease-in-out 0.2s;
      width: 50%;
      text-align: center;
    }
    li.active {
      font-size: 1.1rem;
      color: #212121;
      border-bottom: 1px solid #616161;
    }
  }
  ._txt {
    font-size: 0.85rem;
    padding-top: 8px;
    .close {
      cursor: pointer;
      font-size: 1rem;
      float: left;
      margin-top: 4px;
      color: #757575;
      margin-left: 10px;
    }
  }
  .product {
    .link {
      float: right;
      cursor: pointer;
      img {
        width: auto;
        height: auto;
        max-width: 3rem;
      }
    }
    .name {
      display: inline-block;
      margin-right: 1rem;
      cursor: pointer;
      color: #212121;
    }
    .price {
      display: block;
      padding-right: 4rem;
      .currency {
        margin-right: 4px;
      }
    }
  }
  .users {
    padding-bottom: 22rem;
  }
  .user {
    box-shadow: 0px -1px 2px 0px #f9f9f9;
    .link {
      float: right;
      cursor: pointer;
      img {
        width: auto;
        height: auto;
        max-width: 3rem;
        border-radius: 10rem;
      }
    }
    .name {
      display: inline-block;
      margin-right: 1rem;
      color: #212121;
      cursor: pointer;
      direction: ltr;
      max-width: 48vw;
    }
    .displayName {
      display: block;
      padding-right: 4rem;
      font-size: 0.8rem;
      color: #757575;
    }
  }
  .follow {
    cursor: pointer;
    margin: auto;
    margin-left: 4px;
    float: left;
    color: #fff;
    max-width: 105px;
    border-radius: 4px;
    padding: 5px 12px;
    font-size: 0.84rem;
    &:hover {
      color: #fff;
    }
  }
  .unfollow {
    cursor: pointer;
    margin: auto;
    margin-left: 4px;
    padding: 5px 12px;
    float: left;
    color: #333;
    max-width: 105px;
    border-radius: 4px;
    background: #ffffff;
    border: 1px solid #929292;
    opacity: 0.8;
    font-size: 0.84rem;
    &:hover,
    &:active {
      opacity: 1;
    }
  }
}