@import '../vars';
.mapContainer {
  height: 60vh;
}
.map_header {
  //position: absolute;
  position: fixed;
  z-index: 1001;
  padding: 10px;
  overflow-x: hidden;
  .svg_icon {
    width: 2rem;
    fill: #000;
    cursor: pointer;
    transition: all ease-in-out 0.2s;
    &:hover {
      animation: shake_bottom 0.8s both;
      animation-iteration-count: infinite;
      fill: #fc874c;
    }
  }
  .menu {
    width: 1.6rem;
    float: right;
    margin-top: 5px;
  }
  .microphone {
    float: left;
  }
  .searchInput {
    direction: rtl;
    border: none;
    text-align: right;
  }
  .font_icon {
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: lighter;
    color: #616161;
    margin-left: 6px;
    &:hover,&:active{
      color: #212121;
    }
  }
  // @media screen and (min-width: 992px) {
  // 	width: 80%;
  // 	top: 120px;
  // 	right: 10%;
  // 	left: 10%;
  // }
}
.scroller_div {
  background: #FAFAFA;
  position: relative;
  z-index: 1000;
  width: 97%;
  max-width: 97%;
  margin: auto;
  border-radius: 8px;
  .scroller_line {
    font-size: 1.5rem;
    color: #BDBDBD;
    z-index: 1010;
    position: absolute;
    right: 45%;
    left: auto;
    //top: -3px;
    border-radius: 150px;
  }
}
@media screen and (min-width: 1280px) {
  .mapContainer {
    height: 62vh;
  }
}