@import "../vars";
.top_nav {
  padding: 0;
  padding-left: 5.5%;
  padding-right: 5.5%;
  border-bottom: 2px solid $border_color;
  box-shadow: 0 1px 4px $border_color;
  .navbar-brand {
    margin-right: 0;
    img {
      width: auto;
      max-width: 140px;
      max-height: 56px;
    }
  }
  // Icons
  .nav_Icons {
    color: $topIcon_color;
    font-size: 2.5em;
    margin-right: 4.2%;
    transition: all 0.2s;
    &:hover {
      color: $main_color;
    }
    &.active {
      color: $main_color;
    }
    .svg_Icons {
      width: 2.5rem;
      fill: $topIcon_color;
    }
    .badge {
      position: absolute;
      left: 33px;
      top: 0;
      width: 26px;
      height: 26px;
      font-size: 0.9rem;
      font-weight: 400;
      padding: 6px;
      border-radius: 50px;
    }
  }
  form.inline {
    .search_input {
      background-color: #f5f5f5;
    }
    @media screen and (min-width: 1280px) {
      width: 70%;
      .search_inline_blur {
        margin-left: 58%;
      }
    }
  }
  // Search form
  .top_search {
    .search_input {
      border-radius: 10px;
    }
    .search_input::placeholder {
      padding-right: 16px;
      color: #a8a8a8;
      text-align: center;
    }
    // .search_input::-ms-input-placeholder {
    //   padding-right: 16px;
    //   color: #a8a8a8;
    //   text-align: center;
    // }
    .search_inline {
      margin-top: -29px;
      color: #a8a8a8;
      width: 16px;
      transition: all ease-in-out 0.2s;
      cursor: pointer;
      &:hover {
        color: $main_color;
        animation: blink1 0.8s both;
        animation-iteration-count: infinite;
      }
    }
    .search_inline_blur {
      margin-left: 150px;
    }
    .search_inline_focus {
      margin-left: 10px;
    }
  }
}
.bottom_nav {
  padding: 0;
  border-top: 1px solid $border_color;
  box-shadow: 0 0px 4px $border_color;
  .nav_Icons {
    color: $bottomIcon_color;
    font-size: 2em;
    width: 25%;
    text-align: center;
    transition: all 0.2s;
    &:hover {
      color: $main_color;
    }
    &.active {
      color: $main_color;
      .svg_Icons {
        fill: $main_color;
      }
    }
    &.active:after {
      content: "";
      // display: block;
      width: 52%;
      margin: auto;
      margin-top: 0px;
      margin-bottom: -8px;
      padding-top: 2px;
      border-bottom: 2px solid;
      border-radius: 5px;
      background: $border_gradient;
    }
    .svg_Icons {
      width: 1.9rem;
      width: 32%;
      height: 70%;
      fill: $bottomIcon_color;
    }
  }
}
.desktop_bottom {
  //background-image: $main_gradient;
  background: #fff;
  box-shadow: 0px -2px 9px 0px #c5c5c5;
  .nav-link {
    color: #000;
    transition: all ease-in-out 0.2s;
    &:hover,
    &:active {
      color: #5f5f5f;
      animation: shadow_drop 0.8s both;
      animation-iteration-count: infinite;
    }
  }
  .nav-link.active {
    color: $main_color;
    // text-decoration: underline;
    // text-decoration-color: #000;
  }
}