@import "../vars";
.product_row {
  margin: auto;
  overflow: hidden;
  max-width: 99%;
  .cat_title {
    margin-bottom: -0.5rem;
    padding-right: 0.5rem;
    h3 {
      color: #424242;
      font-size: 1.1rem;
      margin: 0;
      padding-top: 0.3rem;
      float: right;
      //font-family: morvarid;
    }
    .more {
      cursor: pointer;
      margin: 0;
      padding: 0;
      width: auto;
      height: auto;
      min-width: 0;
      border: none;
      line-height: initial;
      float: left;
      display: block;
      color: #ee944f;
      font-size: 1rem;
      text-decoration: none;
    }
  }
  .product {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    .product_frame {
      position: relative;
      text-align: center;
      //width: 160px;
      // height: 250px;
      padding: 10px;
      padding-right: 0;
      padding-left: 0;
      padding-top: 0;
      //margin-top: 6px;
      margin-top: 3px;
      // background: #f3f3f3;
      border: 1px solid #e4e4e4;
      //border-radius: 5px;
      border-radius: 8px;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
      box-shadow: 0px 0px 4px 0px #e6e6e6;
      transition: all ease-in-out 0.2s;
      background: #fff;
      overflow: hidden;
      &:hover {
        background: #e8e8e8;
      }
      .product_link {
        width: 100%;
        height: auto;
        display: block;
        margin: auto;
        max-height: 31vh;
        overflow: hidden;
        img {
          // max-width: 10rem;
          // max-height: 12rem;
          max-width: 50vw;
          max-height: 60vw;
          width: auto;
          height: auto;
          border-radius: 8px;
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;
          margin-top: -6vw;
          margin-bottom: -5.8vw;
        }
      }
      .product_basket {
        cursor: pointer;
        background-color: #ffffff00;
        position: absolute;
        bottom: 4px;
        // border: 1px solid #BDBDBD;
        border-radius: 50px;
        text-align: center;
        // width: 40px;
        // height: 40px;
        line-height: normal;
        width: 30px;
        height: 30px;
        right: 2px;
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: center;
        z-index: 1;
        transition: all 0.1s ease-in-out;
        &:hover {
          // border-radius: 150px;
          animation: shadow_drop 0.8s both;
          animation-iteration-count: infinite;
          // .svg_Icons {
          //   fill: #ffe500;
          // }
          // p {
          //   color: #ffe500;
          // }
        }
        p {
          vertical-align: middle;
          line-height: 2.5;
          color: #fff;
          padding-right: 0.6em;
          display: none;
        }
        .font_icon {
          cursor: pointer;
          color: #019e06;
          font-size: 1.4rem;
          transition: all 0.1s ease;
          &:hover,
          &:active {
            color: #141414;
          }
        }
        .svg_Icons {
          position: relative;
          font-size: 1.55rem;
          top: 5px;
          fill: #fff;
          padding-top: 5px;
        }
      }
      .cart_basket_div.hide_crt {
        opacity: 0.01;
        transform: scale(1.1);
        transition: all 0.1s ease;
      }
      .cart_basket_div {
        position: absolute;
        z-index: 99;
        bottom: 4px;
        right: auto;
        opacity: 1;
        transform: scale(1);
        transition: all 0.1s ease;
        .basket_value {
          cursor: pointer;
          position: absolute;
          right: 3px;
          bottom: 2px;
          border: 1px solid #9e9e9e;
          border-radius: 100px;
          width: 25px;
          height: 25px;
          font-size: 0.83rem;
          text-align: center;
          display: block;
          padding: 1px;
          // padding-right: 0px;
          line-height: normal;
          transition: all 0.13s ease;
        }
        .basket_add {
          cursor: pointer;
          width: 24px;
          height: 24px;
          font-size: 1.4rem;
          position: relative;
          right: 4px;
          bottom: 5px;
          background: #ffffff;
          border-radius: 60px;
          display: flex;
          justify-content: center;
          align-items: center;
          border: 1px solid #EEEEEE;
          transition: all 0.13s ease;
          .font_icon {
            color: #019e06;
            border-radius: 60px;
          }
        }
        .basket_reduce {
          cursor: pointer;
          right: 31px;
          width: 24px;
          height: 24px;
          font-size: 1.4rem;
          position: relative;
          bottom: 1px;
          background: #ffffff;
          border-radius: 60px;
          display: flex;
          justify-content: center;
          align-items: center;
          border: 1px solid #EEEEEE;
          transition: all 0.13s ease;
          .font_icon {
            color: #cf0c35;
            border-radius: 60px;
          }
        }
      }
      .product_user {
        position: relative;
        text-align: right;
        width: 100%;
        background: #fff;
        display: block;
        padding: 1px;
        padding-top: 4px;
        padding-bottom: 4px;
        padding-right: 6px;
        direction: ltr;
        font-size: 0.75rem;
        color: #424242;
        transition: all ease-in-out 0.2s;
        &:hover {
          animation: shadow_drop 0.8s both;
          animation-iteration-count: infinite;
        }
        img {
          border-radius: 8em;
          width: 32px;
          margin-left: 6px;
        }
      }
    }
    .product_text {
      direction: rtl;
      text-align: left;
      margin-top: 3px;
      font-size: 0.8rem;
      padding-left: 4px;
      .product_name {
        color: #757575;
      }
      p {
        padding: 0;
        margin: 0;
      }
      .price_old {
        font-size: 0.8em;
        color: $mainDark_color;
        padding-right: 5px;
        text-decoration: line-through;
      }
      span {}
    }
  }
  @media screen and (min-width: 992px) {
    .product {
      //padding-right: 1rem;
    }
    .product_frame {
      width: inherit;
      max-width: 226px;
      height: 340px !important;
      .product_link {
        img {
          width: 224px !important;
          height: 280px !important;
          max-width: 26rem !important;
          max-height: 30rem !important;
          margin-top: -1.5vw !important;
          margin-bottom: -2.8vw !important;
        }
      }
      .product_user {
        // right: 34px !important;
        // top: 12px !important;
        // img {
        //   width: 65px !important;
        // }
      }
    }
  }
}