@import '../vars';
.profile_products {
  // overflow: auto;
  // flex-flow: row;
  .product {
    margin: 0;
    padding: 0;
    .product_frame {
      text-align: center;
      width: 31.6vw;
      max-height: 52vw;
      max-width: 10rem;
      height: auto;
      padding: 0;
      box-shadow: 0 0px 4px 0 #b1b1b1;
      border-radius: 8px;
      border-bottom-right-radius: 5px;
      border-bottom-left-radius: 5px;
      transition: all ease-in-out 0.2s;
      position: relative;
      margin: auto;
      margin-top: 4%;
      &:hover {
        background: #e8e8e8;
      }
      .product_link {
        width: 100%;
        height: 100%;
        display: block;
        margin: auto;
        img {
          width: 100%;
          height: auto;
          display: block;
          margin: auto;
          border-radius: 8px;
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;
        }
      }
      .product_basket {
        cursor: pointer;
        z-index: 9;
        background-color: #2fa841;
        transition: all ease-in-out 0.2s;
        position: relative;
        top: 2px;
        border-radius: 50px;
        text-align: center;
        width: 1.8rem;
        height: 1.8rem;
        display: flex;
        justify-content: center;
        align-self: center;
        &:hover {
          border-radius: 150px;
          animation: shadow_drop 0.8s both;
          animation-iteration-count: infinite;
          .svg_Icons {
            fill: #ffe500;
          }
          p {
            color: #ffe500;
          }
        }
        p {
          font-size: 0.7rem;
          color: #fff;
          text-align: center;
          line-height: 2.2;
          padding-right: 1.9vw;
          display: none;
        }
        .svg_Icons {
          position: absolute;
          position: relative;
          font-size: 6vw;
          width: 100%;
          max-width: 23px;
          height: auto;
          fill: #fff;
          display: flex;
          justify-content: center;
          align-self: center;
        }
      }
      .product_basket.disable {
        background-color: #fff;
        .svg_Icons {
          fill: #2fa841;
        }
      }
      .product_basket.enable {
        background-color: #fff;
        .svg_Icons {
          fill: #ff5722;
        }
      }
      .product_basket.open {
        width: auto !important;
        .svg_Icons {
          display: none !important;
        }
      }
      .product_user {
        position: absolute;
        right: 0px;
        top: 1px;
        transition: all ease-in-out 0.2s;
        z-index: 10;
        img {
          border-radius: 8rem;
          width: 10vw;
        }
        &:hover {
          border-radius: 150px;
          animation: shadow_drop 0.8s both;
          animation-iteration-count: infinite;
        }
        .dropDownMenu {
          .nav_Icons {
            background: rgba(239, 108, 0, 0.24);
            border-radius: 10rem;
            .svg_icon {
              width: 1.65rem;
              fill: #fff;
              border-radius: 10rem;
              cursor: pointer;
              &:hover,
              &:focus {
                background: rgba(239, 108, 0, 1);
                border-radius: 10rem;
              }
            }
          }
          .product_menu {
            z-index: 999;
            background: #fff;
            top: 40px;
            right: -135px;
            margin-right: 0;
            left: auto !important;
            border-radius: 10px;
            visibility: visible;
            transition: all .2s ease-in-out;
            &:hover {
              background: #fff;
            }
            a {
              cursor: pointer;
              transition: all ease-in-out 0.2s;
              &:hover {
                color: #ff5722 !important;
              }
            }
          }
        }
      }
    }
    .product_text {
      direction: rtl;
      position: relative;
      padding-left: 4%;
      text-align: left;
      font-size: 0.75rem;
      margin-top: -6vw;
      p {
        padding: 0;
        margin: 0;
      }
      .price_old {
        font-size: 0.85em;
        color: $mainDark_color;
        min-height: 15px;
        text-decoration: line-through;
      }
    }
    @media screen and (min-width: 992px) {
      .product_frame {
        // width: 200px !important;
        // height: 275px !important;
        // padding: 15px !important;
        // margin-bottom: 5px !important;
        .product_link {
          img {}
        }
        .product_basket {
          // position: absolute !important;
          // top: 235px !important;
          // left: auto !important;
          // border-radius: 50px !important;
          // text-align: center !important;
          // width: 32px !important;
          // height: 32px !important;
          // margin: auto !important;
          p {
            display: none !important;
          }
          // .svg_Icons {
          //   position: absolute !important;
          //   font-size: 1.4rem !important;
          //   top: 2px !important;
          //   right: 5px !important;
          //   fill: #fff;
          //   padding-top: 5px !important;
          // }
        }
        .product_user {
          right: 10px !important;
          top: 0px !important;
          img {
            width: 3rem !important;
          }
        }
      }
      .product_text {
        font-size: 1em !important;
        margin-top: -30px !important;
        .price_old {
          min-height: 20px;
        }
      }
    }
    @media screen and (max-width: 362px) {
      .product_frame .product_basket p {
        font-size: 3vw;
        line-height: 2;
      }
    }
  }
}