@import "../vars";
// @import "../../node_modules/react-responsive-select/dist/ReactResponsiveSelect";
.profile_container {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  position: relative;
}
.profile_header {
  //background-image: $main_gradient;
  clip-path: ellipse(80% 89% at 50% 10%);
  position: relative;
  z-index: 1;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 5rem;
  background: #f1f1f1;
  // Icons
  .nav_Icons {
    color: #424242;
    font-size: 2em;
    transition: all 0.2s;
    position: relative;
    z-index: 2;
    &:hover {
      color: #000;
    }
    &.active {
      color: #000;
    }
    .svg_Icons {
      width: 1.9rem;
      fill: #424242;
      cursor: pointer;
      &:hover {
        fill: #000;
      }
    }
    .more_menu {
      width: auto;
      font-size: 2.3rem;
    }
  }
  .toggle {
    cursor: pointer;
    transition: all 0.5s;
    animation: jello_diagonal2 0.6s;
  }
  .is_open_toggle {
    cursor: pointer;
    transition: all 0.5s;
    margin-right: 63vw;
    animation: jello_diagonal1 0.6s backwards;
  }
  .userInfo {
    margin-top: -30px;
  }
  .user_img {
    //width: 6rem;
    position: relative;
    width: -moz-max-content;
    width: -webkit-max-content;
    width: max-content;
    height: auto;
    display: block;
    border-radius: 10rem;
    //background: #d6d6d6;
    padding: 3px;
    img {
      width: 6rem;
      //background-color: #ffb386;
      background: #bfbfbf;
      fill: #fff;
    }
    .svg_Icons {
      width: 1.6rem;
      fill: #ffffff;
      position: absolute;
      background: #3076fa;
      border-radius: 50px;
      padding: 5px;
      top: 80px;
      right: 98px;
      cursor: pointer;
    }
    .status {
      position: absolute;
      top: 80px;
      right: 82px;
      width: 1.1rem;
      height: 1.1rem;
      border-radius: 2rem;
      background: #fff;
      span {
        border-radius: 2rem;
        width: 1rem;
        height: 1rem;
        display: block;
        margin: auto;
        margin-top: 1px;
      }
    }
    .online span {
      background: #00ff00;
    }
    .offline span {
      background: #ff0000;
    }
  }
  .user_name {
    font-size: 1.2rem;
    //color: #fff;
  }
  .stats {
    font-size: 1rem;
    //color: #fff;
    p,
    .friendsTitle,
    .customersTitle,
    .productsTitle {
      margin-bottom: 0.5rem;
      cursor: pointer;
      transition: all 0.1s ease-in-out;
      &:hover,
      &:active {
        color: #000;
        font-weight: bold;
      }
    }
    .friends,
    .customers,
    .products {
      background: rgba(255, 255, 255, 0.22);
      border-radius: 50px;
      width: max-content;
      margin: auto;
      padding: 1px 10px 0;
      overflow: hidden;
      cursor: pointer;
      transition: all 0.1s ease-in-out;
      &:hover,
      &:active {
        color: #000;
        font-weight: bold;
      }
    }
  }
}
.info {
  position: relative;
  z-index: 2;
  width: 85%;
  margin-top: -70px;
  border-radius: 10px;
  padding: 0.4rem;
  box-shadow: 0px 6px 23px 3px #bbb;
  .top {
    font-size: 1.1rem;
    //color: #f9854c;
    p {
      margin-bottom: 0.2rem;
      cursor: pointer;
      transition: all 0.1s ease-in-out;
      &:hover,
      &:active {
        color: #000;
        font-weight: bold;
      }
    }
    .inventory,
    .debt,
    .orders {
      //background: #fee5bd;
      border-radius: 15px;
      min-width: max-content;
      margin: auto;
      padding: 0px 8px 0;
      overflow: hidden;
    }
    .follow {
      cursor: pointer;
      margin: auto;
      margin-right: -6px;
      float: right;
      //color: #fff;
      min-width: 150px;
      border-radius: 10px;
      &:hover {
        color: #464646;
      }
    }
    .unfollow {
      cursor: pointer;
      margin: auto;
      margin-right: -6px;
      padding: 3px;
      float: right;
      color: #333;
      min-width: 150px;
      border-radius: 10px;
      background: #ffffff;
      border: 1px solid #929292;
      opacity: 0.8;
      &:hover,
      &:active {
        opacity: 1;
      }
    }
    .distance {
      //color: #ffa422;
      p {
        font-size: 0.8rem;
        float: left;
        margin-left: 2px;
      }
      .svg_Icons {
        width: 2.1rem;
        fill: #242424;
        mix-blend-mode: luminosity;
        position: absolute;
        left: 0;
        top: -30px;
      }
    }
  }
  .title {
    font-size: 1.35rem;
    padding-right: 0.5rem;
  }
  .bio {
    color: #676767;
    padding-right: 0.5rem;
  }
  .btn {
    float: left;
    margin-top: -15px;
  }
  .logo_img {
    opacity: 0.0514;
    width: 3rem;
    float: left;
    margin-top: -3rem;
  }
  .first_edit_profile {
    margin-top: -20px;
    .complate_info {
      cursor: pointer;
      transition: all 0.1s ease-in-out;
      &:hover,
      &:active {
        a {
          color: #000;
          font-weight: bold;
        }
        .edit_icon {
          transition: all 0.1s ease-in-out;
          border: 2px solid #000;
          .svg_icon {
            color: #000;
            fill: #000;
          }
        }
      }
      a {
        color: #616161;
        font-size: 1.1rem;
      }
      .edit_icon {
        width: 46px;
        padding: 6px;
        border: 1px solid #757575;
        border-radius: 100px;
        .svg_icon {
          color: #757575;
          fill: #757575;
        }
      }
    }
  }
}
.profile_menu {
  z-index: 999;
  background: rgba(255, 255, 255, 0.9);
  top: 40px;
  right: 15px;
  border-radius: 10px;
  visibility: visible;
  opacity: 1;
  transition: all ease-in-out 0.2s;
  &:hover {
    background: #fff;
  }
  a {
    cursor: pointer;
    transition: all ease-in-out 0.2s;
    &:hover {
      color: #ff5722 !important;
    }
  }
}
.profile_menu.hidden {
  transition: all ease-in-out 0.3s !important;
  visibility: hidden !important;
  opacity: 0;
  //display: none !important;
}
.more_menu_dropdown {
  .dropdown-toggle:after {
    content: none !important;
  }
  .dropdown-menu {
    background: #fff;
    left: -10px !important;
    transition: all ease-in-out 0.3s !important;
  }
  .dropdown-item.active,
  .dropdown-item:active {
    color: #ff5722;
    text-decoration: none;
    background: none;
  }
}
.first_add_suggest_profile {
  border-top: 1px solid#dadada;
  box-shadow: 0 -1px 2px 0px #d9d9d9;
  min-height: 30vh;
  .first_add_col {
    border: 1px solid #e0e0e0;
    border-radius: 6px;
    max-width: 220px;
    text-align: center;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    &:hover,
    &:active {
      background: #FAFAFA;
      //border: 2px solid #ef6c00;
      .icon_container {
        border: 1px solid #000;
        .svg_icon {
          color: #000;
          fill: #000;
        }
      }
      .first_add_product {
        border: none;
      }
      a {
        color: #000;
        font-weight: bold;
      }
    }
    .icon_container {
      cursor: pointer;
      transition: all 0.1s ease-in-out;
      width: 54px;
      padding: 6px;
      border: 1px solid #757575;
      border-radius: 100px;
      display: block;
      margin: auto;
      margin-bottom: 1%;
      .svg_icon {
        color: #757575;
        fill: #757575;
        display: block;
        margin: auto;
      }
    }
    .first_add_product {
      border: none;
      padding: 2px;
      max-height: 55px !important;
    }
    a {
      display: block;
      margin: auto;
    }
  }
}