@import "../vars";
.edit_profile {
  padding-top: 100px;
  padding-bottom: 0;
  .header_link {
    background: #fafafa;
    box-shadow: 0px 1px 5px 1px #d2d2d2;
    position: fixed;
    width: 100%;
    top: 0;
    bottom: auto;
    z-index: 1030;
    .title {
      font-size: 1.1rem;
    }
    a {
      font-size: 1.5rem;
      cursor: pointer;
      color: #616161;
      transition: all ease-in-out 0.1s;
      &:hover {
        color: $main_color;
        animation: shake_right 0.8s both;
        animation-iteration-count: infinite;
      }
    }
    .check_btn {
      // color: #4caf50 !important;
      &:hover,
      &:active {
        color: #4caf50 !important;
        font-weight: bold;
        font-size: 1.55rem;
      }
      .preloader-icon {
        max-width: 40px;
      }
    }
  }
  .profile_image {
    .img-thumbnail {
      max-width: 7rem;
      height: auto;
      background: #bfbfbf;
      fill: #fff;
    }
    .change_image {
      display: block;
      margin: auto;
      font-size: 1.1rem;
      cursor: pointer;
      color: #878787;
      transition: all 0.1s ease-in-out;
      &:hover,
      &:active {
        color: #4caf50;
        font-weight: bold;
        font-size: 1.09rem;
      }
    }
  }
  .edit_form {
    .profileForm {
      width: 95% !important;
      margin: auto !important;
      display: block !important;
    }
    .setLocation {
      font-size: 0.92rem;
      cursor: pointer;
      transition: all 0.2s ease-in-out;
      &:hover,
      &:active {
        color: #4caf50;
        font-weight: bold;
        font-size: 0.95rem;
        .click_link {
          color: #4caf50;
        }
      }
      .click_link {
        color: #9d9d9d;
      }
    }
    .form-group label {
      color: #8a8a8a;
    }
    .form-group input,
    .form-group textarea {
      border: none;
      border-bottom: 1px solid #c9c9c9;
      border-radius: 0;
      outline: none !important;
      outline-style: none !important;
      color: #444444;
      height: calc(1.5em + .75rem + 2px);
      resize: none;
      &:focus {
        color: #000 !important;
        border-color: #000;
        outline: none;
        box-shadow: none;
      }
      &::placeholder {
        color: #bbbbbb;
      }
      &::-ms-input-placeholder {
        color: #bbbbbb;
      }
    }
    h5 {
      font-size: 1.2rem;
    }
  }
}
@media (min-width: 576px) {
  .edit_profile .header_link {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .edit_profile .header_link {
    max-width: 720px;
  }
}
@media screen and (min-width: 992px) {
  .edit_profile {
    padding-top: 25px !important;
    padding-bottom: 100px !important;
  }
  .edit_profile .header_link {
    width: 100% !important;
    max-width: 100%;
    top: auto !important;
    bottom: -14px !important;
    right: 0;
  }
}