@import "../vars";
@import "../../node_modules/react-responsive-select/dist/ReactResponsiveSelect";
.profile_container {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  position: relative;
}
.profile_header {
  //background-image: $main_gradient;
  clip-path: ellipse(80% 89% at 50% 10%);
  position: relative;
  z-index: 1;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 5rem;
  background: #f1f1f1;
  // Icons
  .nav_Icons {
    color: #424242;
    font-size: 2em;
    transition: all 0.2s;
    position: relative;
    z-index: 2;
    &:hover {
      color: #000;
    }
    &.active {
      color: #000;
    }
    .svg_Icons {
      width: 1.65rem;
      fill: #424242;
      cursor: pointer;
      &:hover {
        fill: #000;
      }
    }
    .more_menu {
      width: auto;
      font-size: 2.3rem;
    }
  }
  .toggle {
    cursor: pointer;
    transition: all 0.5s;
    animation: jello_diagonal2 0.6s;
  }
  .is_open_toggle {
    cursor: pointer;
    transition: all 0.5s;
    margin-right: 63vw;
    animation: jello_diagonal1 0.6s backwards;
  }
  .userInfo {
    margin-top: -30px;
  }
  .user_img {
    //width: 6rem;
    position: relative;
    width: -moz-max-content;
    width: -webkit-max-content;
    width: max-content;
    height: auto;
    display: block;
    border-radius: 10rem;
    //background: #d6d6d6;
    padding: 3px;
    img {
      width: 6rem;
      background-color: #ffb386;
    }
    .svg_Icons {
      width: 1.6rem;
      fill: #ffffff;
      position: absolute;
      background: #3076fa;
      border-radius: 50px;
      padding: 5px;
      top: 80px;
      right: 98px;
      cursor: pointer;
    }
    .status {
      position: absolute;
      top: 80px;
      right: 82px;
      width: 1.1rem;
      height: 1.1rem;
      border-radius: 2rem;
      background: #fff;
      span {
        border-radius: 2rem;
        width: 1rem;
        height: 1rem;
        display: block;
        margin: auto;
        margin-top: 1px;
      }
    }
    .online span {
      background: #00ff00;
    }
    .offline span {
      background: #ff0000;
    }
  }
  .user_name {
    font-size: 1.2rem;
    //color: #fff;
  }
  .stats {
    font-size: 1rem;
    //color: #fff;
    p,
    .friendsTitle,
    .customersTitle,
    .productsTitle {
      margin-bottom: 0.5rem;
      cursor: pointer;
    }
    .friends,
    .customers,
    .products {
      background: rgba(255, 255, 255, 0.22);
      border-radius: 50px;
      width: max-content;
      margin: auto;
      padding: 1px 10px 0;
      overflow: hidden;
      cursor: pointer;
    }
  }
}
.info {
  position: relative;
  z-index: 2;
  width: 85%;
  margin-top: -70px;
  border-radius: 10px;
  padding: 0.4rem;
  box-shadow: 0px 6px 23px 3px #bbb;
  .top {
    font-size: 1.1rem;
    //color: #f9854c;
    p {
      margin-bottom: 0.2rem;
      cursor: pointer;
    }
    .inventory,
    .debt,
    .orders {
      //background: #fee5bd;
      border-radius: 15px;
      min-width: max-content;
      margin: auto;
      padding: 0px 8px 0;
      overflow: hidden;
    }
    .follow {
      cursor: pointer;
      margin: auto;
      margin-right: -6px;
      float: right;
      //color: #fff;
      min-width: 150px;
      border-radius: 10px;
      &:hover {
        color: #464646;
      }
    }
    .unfollow {
      cursor: pointer;
      margin: auto;
      margin-right: -6px;
      padding: 3px;
      float: right;
      color: #333;
      min-width: 150px;
      border-radius: 10px;
      background: #ffffff;
      border: 1px solid #929292;
      opacity: 0.8;
      &:hover,
      &:active {
        opacity: 1;
      }
    }
    .distance {
      //color: #ffa422;
      p {
        font-size: 0.8rem;
        float: left;
        margin-left: 2px;
      }
      .svg_Icons {
        width: 2.1rem;
        fill: #242424;
        mix-blend-mode: luminosity;
        position: absolute;
        left: 0;
        top: -30px;
      }
    }
  }
  .title {
    font-size: 1.35rem;
    padding-right: 0.5rem;
  }
  .bio {
    color: #676767;
    padding-right: 0.5rem;
  }
  .btn {
    float: left;
    margin-top: -15px;
  }
  .logo_img {
    opacity: 0.0514;
    width: 3rem;
    float: left;
    margin-top: -3rem;
  }
}
.profile_menu {
  z-index: 999;
  background: rgba(255, 255, 255, 0.9);
  top: 40px;
  right: 15px;
  border-radius: 10px;
  visibility: visible;
  opacity: 1;
  transition: all ease-in-out 0.2s;
  &:hover {
    background: #fff;
  }
  a {
    cursor: pointer;
    transition: all ease-in-out 0.2s;
    &:hover {
      color: #ff5722 !important;
    }
  }
}
.profile_menu.hidden {
  transition: all ease-in-out 0.3s !important;
  visibility: hidden !important;
  opacity: 0;
  //display: none !important;
}
.more_menu_dropdown {
  .dropdown-toggle:after {
    content: none !important;
  }
  .dropdown-menu {
    background: #fff;
    left: -10px !important;
    transition: all ease-in-out 0.3s !important;
  }
  .dropdown-item.active,
  .dropdown-item:active {
    color: #ff5722;
    text-decoration: none;
    background: none;
  }
}
.report_modal,
.share_modal {
  .modal-header {
    .modal-title {
      display: block;
      margin: auto;
      font-size: 1.3rem;
    }
    .close {
      padding: 0;
      margin: 0;
    }
  }
  .modal-body{
    font-size: 0.95rem;
  }
  .invite_info{
    text-align: justify;
    margin-bottom: 1%;
  }
  .more_btn{
    color: #474747;
    display: block;
    border: 1px solid #d1d1d1;
    width: 78px;
    text-align: center;
    border-radius: 4px;
    transition: all 0.2s;
    margin:auto;
    margin-bottom: 10px;
    &:hover, &:active{
      transition: all 0.2s;
      color: #000;
      border: 1px solid #adadad;
      text-decoration: none;
    }
  }
  .share_text {
    width: 90%;
    font-size: 0.85rem;
    text-align: justify;
    padding: 10px;
    padding-bottom: 60px;
    border: 1px solid #f4f4f4;
    border-radius: 10px;
    resize: none;
    color: #5d5d5d;
  }
  .copy_icon {
    font-size: 1.4rem;
    color: #5d5d5d;
    transition: all 0.2s;
    cursor: pointer;
    &:hover, &:active{
      transition: all 0.2s;
      color: #000;
      border: 1px solid #adadad;
      text-decoration: none;
    }
  }
  // react-responsive-select/
  .rrs__button {
    min-width: 45vw;
    color: #555;
    position: relative;
    cursor: pointer;
    line-height: 40px;
    text-align: center;
    align-self: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
    background: #ffffff;
    border-radius: 4px;
    box-shadow: 0 1px 3px 0.2px rgba(0, 0, 0, 0.2);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    margin-bottom: 10px;
    @media screen and (min-width: 768px) {
      min-width: 15vw;
    }
  }
  span[aria-label="انتخاب کنید"] {
    color: #a9a9a9;
  }
  .rrs__option.rrs__option--next-selection {
    background: #fea73047;
    color: #fa6e62;
  }
  .rrs__option:hover {
    color: #ef6c00;
  }
  .rrs__option:active {
    background: #fbe9e7;
  }
  .rrs__option {
    margin: 0;
    padding-right: 10px;
    padding-left: 0;
    padding-top: 5px;
    padding-bottom: 10px;
  }
  @media screen and (max-width: 768px) {
    .rrs--options-visible .rrs__options {
      max-height: none;
      position: fixed;
      font-size: 1rem;
      width: auto;
      left: 1rem;
      right: 1rem;
      top: 12%;
      bottom: 4rem;
      border: 0;
      border-radius: 4px;
    }
  }
}