@import "../vars";
.search_component {
  top: 0;
  border-bottom: 1px solid #e0e0e0;
  .page_title {
    text-align: center;
    // font-weight: 600;
  }
  ul.filters {
    flex-wrap: nowrap;
    overflow-x: auto;
    li {
      cursor: pointer;
      font-size: 1.03rem;
      color: #9e9e9e;
      transition: all ease-in-out 0.2s;
    }
    li.active {
      font-size: 1.1rem;
      color: #212121;
      border-bottom: 1px solid #9e9e9e;
    }
  }
  .back_icon {
    font-size: 1.7rem !important;
    cursor: pointer;
    transition: all 0.2s ease-in;
    //float: right;
    color: #333;
    &:hover {
      color: #5e5e5e;
    }
  }
}
.search_result {
  ._txt {
    font-size: 0.85rem;
    padding-top: 8px;
    .close {
      cursor: pointer;
      font-size: 1rem;
      float: left;
      margin-top: 4px;
      color: #757575;
      margin-left: 10px;
    }
  }
  .product {
    .link {
      float: right;
      cursor: pointer;
      img {
        width: 3rem;
        height: 3rem;
        max-width: 3rem;
      }
    }
    .name {
      display: inline-block;
      margin-right: 1rem;
      cursor: pointer;
      color: #212121;
    }
    .price {
      display: block;
      padding-right: 4rem;
      .currency {
        margin-right: 4px;
      }
    }
  }
  .user {
    .link {
      float: right;
      cursor: pointer;
      img {
        width: 3rem;
        height: 3rem;
        max-width: 3rem;
        border-radius: 10rem;
      }
    }
    .name {
      display: inline-block;
      margin-right: 1rem;
      color: #212121;
      cursor: pointer;
    }
    .user_name {
      display: inline-block;
      margin-right: 1rem;
      color: #212121;
      cursor: pointer;
    }
    .displayName {
      display: block;
      padding-right: 4rem;
      font-size: 0.8rem;
      color: #757575;
    }
  }
  .no_result_div {
    display: block;
    width: 100%;
    background: #f5f5f5;
    padding: 4rem;
    padding-top: 24vh;
    padding-right: 3.5rem;
    margin: auto;
    text-align: center;
    .no_result {
      font-size: 1rem;
      display: block;
      margin: auto;
      margin-top: 1rem;
      color: #9e9e9e;
    }
    .font_icon {
      display: block;
      margin: auto;
      font-size: 3rem;
      color: #d2d2d2;
    }
  }
}
.activity_page {
  overflow: hidden;
  .user {
    .link {
      float: none !important;
      //width: 15%;
    }
    .product_image {
      cursor: pointer;
      float: right;
      min-width: 80px;
      text-align: center;
      img {
        width: auto;
        height: auto;
        max-width: 2.8rem;
        border-radius: 0.1rem;
        margin: auto;
        display: block;
      }
    }
    ._txt {
      //width: 85%;
      //float: left;
      padding: 4px;
      padding-right: 1.45rem;
      padding-left: 0.85rem;
      direction: ltr;
    }
    .content {
      .user_name {
        display: inline-block;
        margin-right: 0;
        color: #212121;
        cursor: pointer;
        font-weight: 600;
      }
      .message,
      .time {
        display: inline;
        padding-right: 4px;
        a {
          cursor: pointer;
          color: #37474f;
          transition: all 0.2s ease-in;
          &:hover,
          &:active {
            color: #696969;
            text-decoration: none;
            font-weight: 600;
          }
        }
      }
      .time {
        color: #757575;
        font-size: 0.8rem;
        clear: left;
        display: block;
      }
    }
    .btn-main {
      cursor: pointer;
      width: 76px;
      font-size: 0.77rem;
      padding-left: 10px;
      padding-right: 10px;
      border-radius: 4px;
    }
    .unfollow {
      color: #333;
      background: #ffffff;
      border: 1px solid #b4b4b4;
      &:hover,
      &:active {
        background: #feaa2d;
      }
    }
  }
}