.sidebar {
  min-width: 68vw;
  max-width: 68vw;
  background: #fff;
  color: #adb5bd;
  // margin-right: -258px;
  // margin-top: -18px;
  right: -68vw;
  top: 0;
  z-index: 999;
  height: 100vh;
  transition: all 0.5s;
  position: fixed;
  border: 1px solid #f3f3f3;
  box-shadow: 0px 0px 2px 0px #bbbbbb;
  .sidebar-header {
    background: #fff;
    color: #000000;
    border-bottom: 1px solid #e6e6e6;
  }
  .sidebar-header h5 {
    padding-top: 0.3em;
    text-align: center;
  }
  .sidebar ul p {
    color: #fff;
    padding: 10px;
  }
  .collapse.show,
  .collapsing {
    background: #fff;
  }
  .nav-item {
    font-weight: 300;
    .nav-link {
      color: #494949;
      cursor: pointer;
      transition: all 0.1s;
      &:hover {
        color: #000;
        transition: all 0.1s;
        .font_icon {
          font-size: 1.52rem;
        }
      }
      .font_icon {
        font-size: 1.5rem;
        margin-left: 10px;
      }
    }
  }
  .sidebar-footer {
    background: #fff;
    color: #000000;
    border-top: 1px solid #e6e6e6;
    position: fixed;
    bottom: 56px;
    width: 66vw;
    .nav-link {
      color: #000;
      &:hover,
      &:active {
        transition: all 0.1s;
        font-weight: bold;
        .font_icon {
          color: #000;
          font-size: 1.72rem;
        }
      }
      .font_icon {
        color: #494949;
        font-size: 1.7rem;
        transition: all 0.05s;
        &:hover,
        &:active {
          color: #000;
        }
      }
    }
  }
}
.sidebar.is-open {
  // margin-right: -34px;
  right: 0px;
  transition: 0.5s;
}