@import "../vars";
.map_user_suggestion {
  flex-flow: row;
  overflow: auto;
  height: 40vh;
  background: #fafafa;
  //position: relative;
  z-index: 999;
  width: 97%;
  max-width: 99.9%;
  margin: auto;
  border-radius: 8px;
  top: auto;
  // position: absolute;
  // right: 1.5%;
  position: relative;
  transition: all ease-in-out 0.1s;
  box-shadow: 0px 0px 2px 0px #d0d0d0;
  .user_div {
    background: #fff;
    height: auto;
    max-height: 176px;
    margin-left: 1%;
    padding-top: 8px !important;
  }
  .more {
    font-size: 2em;
    color: $topIcon_color;
    margin-top: -8px;
    float: left;
    &:hover {
      color: $main_color;
    }
  }
  .user_link_img {
    max-height: 5.5rem;
    min-height: 5rem;
  }
  .user_link {
    cursor: pointer;
    background: $circleUser_gradient;
    display: block;
    margin: auto;
    width: -moz-max-content;
    width: -o-max-content;
    width: -ms-max-content;
    width: -webkit-max-content;
    width: max-content;
    max-width: 6rem;
    padding: 1px;
    text-align: center;
    border-radius: 10rem;
    transition: all ease-in-out 0.2s;
    &:hover {
      animation: shadow_drop infinite 0.35s ease-out;
      background: $main_gradient;
    }
    img {
      width: 4.5em;
      padding: 0;
      background: white;
      padding: 1px;
      transition: all ease-in-out 0.2s;
      &:hover {
        background: $main_gradient;
      }
    }
  }
  .user_name {
    font-size: 0.85rem;
    font-weight: 600;
    text-align: center;
    // margin-bottom: 0 !important;
    // min-height: 35px;
    text-align: center;
    margin: 0 !important;
    margin-top: 4px !important;
    margin-bottom: 1px !important;
  }
  .display_name {
    font-size: 0.75rem;
    margin: 0 !important;
    margin-bottom: 4px !important;
    min-height: 18px;
  }
  .follow,
  .unfollow {
    color: #fff !important;
    font-size: 1rem;
    padding: 9%;
    padding-bottom: 4px;
    padding-top: 4px;
    cursor: pointer;
  }
  .unfollow {
    color: #333 !important;
    background: #fff;
    border: 1px solid #929292;
    opacity: .8;
    &:hover {
      opacity: 1;
    }
  }
  .user_div.active {
    .user_link {
      margin-top: -2px;
      padding: 2px;
      img {
        width: 5em !important;
        padding: 0;
      }
    }
  }
}
.map_user_suggestion.top {
  //transition: all ease-in-out 0.2s;
  top: -180px;
}
@media screen and (max-width: 500px) {
  // .map_user_suggestion {
  //   margin-bottom: 70px;
  // }
}
@media screen and (max-width: 360px) {
  .map_user_suggestion .user_link img {
    width: 4rem !important;
  }
  .map_user_suggestion .user_name {
    font-size: 0.8rem !important;
  }
  .map_user_suggestion .follow,
  .map_user_suggestion .unfollow {
    font-size: 70% !important;
  }
}