@import '../vars';
.user_Suggestion{
  .over_flow{
    overflow: hidden;
    overflow-x: auto;
  }
  .more{
    font-size: 2em;
    color: $topIcon_color;
    display: flex;
    margin-bottom: -15px;
    &:hover{
      color: $main_color;
    }
  }
  .user_link{
    width: fit-content;
    height: auto;
    display: block;
    border-radius: 10rem;
    background: $circleUser_gradient;
    padding: 2px;
    &:hover{
      animation: shadow_drop infinite 0.35s ease-out;
      background: $main_gradient;
    }
  }
  img.rounded-circle{
    width: 5.6em;
    padding: 0;
  }
}