@import '../vars';
.map_user_suggestion {
  flex-flow: row;
  overflow: auto;
  height: 125vh;
  background: #FAFAFA;
  //position: relative;
  z-index: 999;
  width: 97%;
  max-width: 97%;
  margin: auto;
  border-radius: 8px;
  top: auto;
  position: absolute;
  right: 1.5%;
  transition: all ease-in-out 0.2s;
  .user_div {
    background: #fff;
    height: auto;
    max-height: 176px;
    margin-left: 1%;
  }
  .more {
    font-size: 2em;
    color: $topIcon_color;
    margin-top: -8px;
    float: left;
    &:hover {
      color: $main_color;
    }
  }
  .user_link {
    background: $circleUser_gradient;
    display: block;
    margin: auto;
    width: -moz-max-content;
    width: -o-max-content;
    width: -ms-max-content;
    width: -webkit-max-content;
    width: max-content;
    max-width: 6rem;
    padding: 1px;
    text-align: center;
    border-radius: 10rem;
    transition: all ease-in-out 0.2s;
    &:hover {
      animation: shadow_drop infinite 0.35s ease-out;
      background: $main_gradient;
    }
    img {
      width: 4.5em;
      padding: 0;
      background: white;
      padding: 1px;
      transition: all ease-in-out 0.2s;
      &:hover {
        background: $main_gradient;
      }
    }
  }
  .user_name {
    font-size: 0.9rem;
    text-align: center;
    // margin-bottom: 0 !important;
    // min-height: 35px;
    text-align: center;
    margin: 0!important;
    margin-top: 5px !important;
    margin-bottom: 5px !important;
  }
  .follow {
    color: #fff !important;
    font-size: 1rem;
    padding: 9%;
    padding-bottom: 4px;
    padding-top: 4px;
  }
  .user_div.active {
    .user_link {
      margin-top: -4px;
      padding: 2px;
      img {
        width: 5em !important;
        padding: 0;
      }
    }
  }
}
.map_user_suggestion.top {
  transition: all ease-in-out 0.2s;
  top: -180px;
}
@media screen and (max-width: 500px) {
  .map_user_suggestion {
    margin-bottom: 70px;
  }
}
@media screen and (max-width: 360px) {
  .map_user_suggestion .user_link img {
    width: 4rem !important;
  }
  .map_user_suggestion .user_name {
    font-size: 0.8rem !important;
  }
  .map_user_suggestion .follow {
    font-size: 70% !important;
  }
}